body {
	font-family: serif;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	color: #2e3436;
}

h1 {
	display: none;
}

h2, h3, h4, h5, h6 {
	font-family: serif;
	color: #000000;
}

p {
	font-family: serif;
	text-align: justify;
}

a {
	color: #204A87;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img#logo {
	display: block;
	border: 0px;
	margin: 3px auto;
}

h6 {
	clear: both;
	text-align: right;
	font-size: 10px;
	font-weight: normal;
	color: #888A85;
}

hr {
	border: 1px solid #D3D7CF;
	height: 1px;
	margin: 5px;
}

/* Forms */

form {
	display: inline;
}

label {
	display: block;
	clear: right;
}

label * {
	float: right;
	width: 400px;
	border: 1px solid #D3D7CF;

	color: #2e3436;
	font-family: serif;
	font-size: 10px;
}

/* Navigation */

ul#navigation {
	margin: 0px;
	padding: 8px;
	height: 30px;
	background: url( "../images/background.png" );
	background-repeat: repeat-x;
	text-align: center;
}

ul#navigation li {
	display: inline;
	height: 20px;
	padding: 0px;
	margin: 0px;
}

ul#navigation li a {
	color: #EEEEEC;
	font-size: 12px;
	padding: 3px 10px;
	text-decoration: none;
}

ul#navigation li a.selected,
ul#navigation li a:hover {
	color: #729FCF;
}

/* Content */

div#main {
	width: 800px;
	margin: 0px auto;
}

div#content {
	width: 620px;
	float: right;
}

div#misc {
	width: 170px;
	float: left;
}

ul.toc {
	margin: 5px;
	padding: 2px;
	float: right;
	border: solid 1px #D3D7CF;
	list-style-type: none
}

ul.toc ul {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	list-style-type: none
}

ul.toc li {
	padding: 1px;
	margin: 0px;
}

/* Sub navigation */

ul#subnavigation {
	padding: 0px;
	margin: 10px 0px;
	list-style-type: none;
}

ul#subnavigation ul {
	padding: 0px;
	margin: 0px 0px 0px 10px;
	list-style-type: none;
}

ul#subnavigation li {
	margin: 0px;
	padding: 0px;
}

ul#subnavigation li a {
	display: block;
	margin: 0px;
	padding: 1px;
}

ul#subnavigation li a.selected,
ul#subnavigation li a:hover {
	background-color: #EEEEEC;
	background-image: url( "../images/pointer.png" );
	background-repeat: no-repeat;
	background-position: right center;
}

/* Misc stuff starts here */

/* Download box */

div.download {
	border: solid 1px #D3D7CF;
	margin: 0px;
	padding: 5px 5px 5px 60px;
	background-image: url( "../images/download.png" );
	background-position: 5px 10px;
	background-repeat: no-repeat;
	min-height: 50px;
}

div.download h3 {
	font-size: 12px;
	color: #2E3436;
	margin: 10px 0px 5px 0px;
}

div.download a {
	font-size: 11px;
	margin: 10px 0px 5px 0px;
}

/* Blog */

ul.comments {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

ul.comments li {
	margin: 2px 2px 2px 20px;
}

ul.comments li h3 {
	margin: 0px;
	color: #88858A;
	font-size: 11px;
	font-weight: normal;
}

ul.comments li p {
	margin: 2px 0px 15px 0px;
}

